@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/build/fonts/RobotoSlab-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  line-height: 2;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 10px 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  margin-top: 100px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.about,
.categories,
.products,
.gallery,
.info {
  margin-bottom: 80px;
}