@use '../base/mixins' as mix;

.about {
  background-color: #004065;
  height: auto;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50px;

    @include mix.responsive('lg') {
      grid-template-columns: unset;
      gap: unset;
    }
  }

  &__description {
    color: white;

    @include mix.responsive('lg') {
      padding: 50px;
    }

    @include mix.responsive('sm') {
      padding: 20px;
    }
  }

  &__title {
    font-size: 2.7rem;
  }
}
