@use '../base/mixins' as mix;

.categories {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include mix.responsive('sm') {
      grid-template-columns: unset;
    }
  }
}

.categorie {
  &__image {
    height: 250px;

    @include mix.responsive('lg') {
      height: 130px;
    }

    @include mix.responsive('sm') {
      height: 170px;
    }
  }

  &__link {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-bottom-right-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;

    @include mix.responsive('sm') {
      background-color: #004065;
      color: #ffffff;
    }

    &:hover {
      background-color: #004065;
      color: #ffffff;
    }
  }
}
