@use '../base/mixins' as mix;

.footer {
  border-top: 1px solid #e1e1e1;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 80px 100px;
    gap: 50px;

    @include mix.responsive('lg') {
      padding: 80px 20px;
      gap: unset;
    }

    @include mix.responsive('sm') {
      grid-template-columns: auto;
      padding: 10px;
      gap: 10px;
    }
  }

  &__section {
    @include mix.responsive('sm') {
      margin-bottom: 20px;
    }
  }

  &__title {
    text-align: left;

    @include mix.responsive('sm') {
      text-align: center;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
  }

  &__link {
    text-align: left;

    @include mix.responsive('sm') {
      text-align: center;
    }
  }

  &__copyright {
    text-align: center;
    padding: 30px 0;
    background-color: #004065;
    color: #ffffff;
  }
}
