@use '../base/mixins' as mix;

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e1e1e1;

  @include mix.responsive('sm') {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  
  &__responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #eee;
  }

  &__logo {
    font-size: 3rem;
    margin: 20px 0;
    user-select: none;

    @include mix.responsive('sm') {
      font-size: 2rem;
      margin: 5px 0;
    }

    &--span {
      color: #004065;
      text-decoration: underline;
    }
  }

  &__menu {
    display: none;

    @include mix.responsive('sm') {
      display: block;
      width: 30px;
      filter: invert(100%);
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;

    @include mix.responsive('sm') {
      display: none;
    }

    &.show {
      display: flex;
      flex-direction: column;
    }

    &__link {
      font-size: 1.3rem;
      padding: 5px 0;
    }
  }
}
