@use '../base/mixins' as mix;

.blog {
  &__list {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: baseline;
    gap: 60px;

    @include mix.responsive('lg') {
      grid-template-columns: auto;
      gap: 10px;
      margin-bottom: 50px;
    }
  }

  &__content {
    padding: 20px 0;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    p {
      font-weight: bold;
    }

    span {
      color: #004065;
    }
  }

  &__text {
    margin-bottom: 30px;

    p {
      margin: 10px 0;
    }
  }

  &__entry {
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 40px;
    padding-bottom: 40px;

    &:last-of-type {
      border: none;

      @include mix.responsive('lg') {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  &__list--aside {
    padding-left: 90px;
  }
}
