@use '../base/mixins' as mix;

.gallery {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @include mix.responsive('sm') {
      grid-template-columns: unset;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
  }

  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    img {
      max-width: 70rem;
    }
  }
}