@use '../base/mixins' as mix;

.products {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include mix.responsive('lg') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mix.responsive('sm') {
      grid-template-columns: unset;
    }
  }
}

.product {
  background-color: #004065;
  border-radius: 10px;

  &__image {
    height: 250px;

    @include mix.responsive('sm') {
      height: 200px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 20px;
  }

  &__price {
    font-size: 1.8rem;
    font-weight: 900;
  }
}
